# INDIAN START-UP FUNDING DATA ANALYSIS

## Project Description

This project seeks to gain insight into the fundings received by start-ups companies in India between 2018 and 2021. And advice a team trying to venture into the Indian start-up ecosystem, by proposing the best course of action. This would be done by developing a unique story from this dataset, stating and testing a hypothesis, asking questions, perform analysis and share insights with relevant visualisations.

## Business Understanding

Start-up funding plays a crucial role providing essential capital to nurture new ventures that drive economic growth and technological advancement.Indian startups ecosystem span across various sectors and domains, such as e-commerce, fintech, edtech, healthtech, and agritech. This project aims to equip the team with the knowledge and strategic insights on identifying the most promising sectors, cities, funding trends, and key players necessary to make informed decisions and successfully engage with the dynamic and rapidly evolving Indian start-up landscape.

## Data understanding
 
The datasets contains information about startup funding from 2018 to 2021. It includes various attributes such as the company’s name, sector, funding amount, stage, investor details, and location.
 
The key attributes in the dataset include:
 
**Company/Brand**: Name of the company/start-up
 
**Founded**: Year start-up was founded
 
**Sector**: Sector of service
 
**What it does**: Description about Company
 
**Founders**: Founders of the Company
 
**Investor**: Investors
 
**Amount($)**: Raised fund
 
**Stage**: Round of funding reached
 
**Headquarters**: Location of   the start-up_company

## Hypothesis
 
Null Hypothesis (H0): Funding to start-ups is centralized around specific locations and sectors.
 
Alternative Hypothesis (H1): Funding to start-ups is spread across different locations and sectors.
 
 
 
## RESEARCH QUESTIONS
 
1.How has funding to startups changed over the period of time?
 
2.What is the average amount of funding for start-ups in?
 
3.Which headquarter is the most preferred startup location?
 
4.Which sectors are most favoured by investors?
 
5.What are the most common funding stages among indian startups?

## Install Packages

In [129]:

pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\safowaa\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.

In [130]:
pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\safowaa\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

## Import Packages

In [131]:
import pyodbc
#import the dotenv_values function from the dotenv package  
from dotenv import dotenv_values    
import pandas as pd
import warnings 
import numpy as np
# Ignore warning due to depreciating packages
warnings.filterwarnings('ignore')

## Data Loading

In [132]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("server")
database = environment_variables.get("database")
username = environment_variables.get("Login")
password = environment_variables.get("password")

In [133]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [134]:
# Use the pyodbc library to pass in the connection string.

connection = pyodbc.connect(connection_string)

In [135]:
# Accessing 2021 data from the database
query = "SELECT * FROM dbo.LP1_startup_funding2021"

data_2021 = pd.read_sql(query, connection)

data_2021

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [136]:
# Accessing 2020 data from the database
query = "SELECT * FROM dbo.LP1_startup_funding2020"

data_2020 = pd.read_sql(query, connection)

data_2020

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,None
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None,None
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,None
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,None

In [137]:
# Accessing a csv file containing 2019 data from the root directory of this project
data_2019 = pd.read_csv("startup_funding2019.csv")

data_2019

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [138]:
# Accessing a csv file containing 2018 data from the root directory of this project
data_2018 = pd.read_csv("startup_funding2018.csv")

data_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

#  Data Inspection

#### Inspect the datasets

In [139]:
data_2021.shape

(1209, 9)

In [140]:
data_2020.shape

(1055, 10)

In [141]:
data_2019.shape

(89, 9)

In [142]:
data_2018.shape

(526, 6)

#### Checking the datatype the number of columns of the four datasets using the **.info()** method

In [143]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [144]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB

In [145]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [146]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

#### Check for null values

In [147]:
data_2021.isnull().sum()

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount             3
Stage            428
dtype: int64

In [148]:
data_2020.isnull().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [149]:
data_2019.isnull().sum()

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

In [150]:
data_2018.isnull().sum()

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

#### After careful analysis **"column10"** is dropped because it contains no values

In [151]:
# Drop the empty column "column10" in data_2020
data_2020_1 = data_2020.drop(["column10"],axis=1,inplace=True)

In [152]:
# Get the dimensions (rows, columns) of the DataFrame
data_2020.shape

(1055, 9)

#### Exploring the Industry column of data_2018

In [153]:
# Split the 'Industry' column into multiple columns
split_columns = data_2018['Industry'].str.split(',', expand=True)

In [154]:
# Determine the number of resulting columns
num_columns = split_columns.shape[1]
# Print the number of resulting columns
num_columns

12

In [155]:
# Assign new column names based on the maximum number of columns obtained
new_column_names = ['Part1', 'Part2', 'Part3', 'Part4', 'Part5', 'Part6', 'Part7', 'Part8', 'Part9', 'Part10', 'Part11', 'Part12'][:num_columns]
data_2018[new_column_names] = split_columns

In [156]:
# Check the number of columns obtained
split_columns

,0,1,2,3,4,5,6,7,8,9,10,11
0,Brand Marketing,Event Promotion,Marketing,Sponsorship,Ticketing,None,None,None,None,None,None,None
1,Agriculture,Farming,None,None,None,None,None,None,None,None,None,None
2,Credit,Financial Services,Lending,Marketplace,None,None,None,None,None,None,None,None
3,Financial Services,FinTech,None,None,None,None,None,None,None,None,None,None
4,E-Commerce Platforms,Retail,SaaS,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
521,B2B,Business Development,Internet,Marketplace,None,None,None,None,None,None,None,None
522,Tourism,Travel,None,None,None,None,None,None,None,None,None,None
523,Food and Beverage,Food Delivery,Internet,None,None,None,None,None,None,None,None,None
524,Information Technology,None,None,None,None,None,None,None,None,None,None,None
525,Biotechnology,Health Care,Pharmaceutical,None,None,None,None,None,None,None,None,None

In [157]:
# Check for null values in the selected column 
split_columns[0].isnull().any()

False

In [158]:
# Choose one of the new columns to replace the original column
data_2018['Industry'] = data_2018['Part1']

In [159]:
# Check if the replacement worked
data_2018['Industry'].isnull().any()

False

In [160]:
# Drop the temporary split columns since they are not needed
data_2018.drop(columns=new_column_names, inplace=True)

# Display the updated DataFrame
data_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,Brand Marketing,Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,Agriculture,Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,Credit,Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,Financial Services,Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,E-Commerce Platforms,Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,B2B,Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,Tourism,Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,Food and Beverage,Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,Biotechnology,Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

# Data Cleaning

#### Exploring the Location column of data_2018

In [161]:
# Split the 'Location' column into multiple columns
split_columns = data_2018['Location'].str.split(',', expand=True)

In [162]:

# Assign the new columns to the DataFrame with appropriate names
data_2018[['City', 'State', 'Country']] = split_columns

In [163]:
# Replace the original column with one of the new columns
data_2018['Location'] = data_2018['City']

In [164]:
# Check if there any null values in the column
data_2018['Location'].isnull().any()

False

In [165]:
# Drop the temporary columns if they are not needed
data_2018.drop(columns=['City', 'State', 'Country'], inplace=True)

In [166]:
# Add 'Funding_Year' column
data_2021["Funding_Year"] = 2021
data_2020["Funding_Year"] = 2020
data_2019["Funding_Year"] = 2019
data_2018["Funding_Year"] = 2018

In [167]:
# Rename columns for consistency
data_2021.rename(columns={"Company_Brand": "CompanyName", "Amount": "Fund_Amount"}, inplace=True)
data_2020.rename(columns={"Company_Brand": "CompanyName", "Amount": "Fund_Amount"}, inplace=True)
data_2019.rename(columns={"Company/Brand": "CompanyName", "Amount($)": "Fund_Amount"}, inplace=True)
data_2018.rename(columns={"Company Name": "CompanyName", "Amount": "Fund_Amount", "Industry": "Sector", "Round/Series": "Stage", "Location": "HeadQuarter", "About Company": "What_it_does"}, inplace=True)

In [168]:
# Add missing columns in data_2018 for consistency
data_2018['Founders'] = np.nan
data_2018['Investor'] = np.nan
data_2018['Founded'] = np.nan

In [169]:
# Close the database connection
connection.close()

## Data Preparation

In [170]:
# Merge all datasets into one
joined_data = pd.concat([data_2018, data_2019, data_2020, data_2021], ignore_index=True)
joined_data.to_csv("joined_data.csv", index=False)

In [171]:
# joined_data.to_csv(r"C:\Users\Safowaa\Documents\Azibiafrica\AzubiPython\Indian_start-up_ecosystem\joined_data.csv", index=False)

In [172]:
# Load the combined data
combined21_18 = pd.read_csv("joined_data.csv")

In [173]:
# Check for columns with empty and / or null rows
print(combined21_18.isnull().sum())

CompanyName        0
Sector            18
Stage            938
Fund_Amount      257
HeadQuarter      114
What_it_does      89
Funding_Year       0
Founders         545
Investor         626
Founded          769
What it does    2790
dtype: int64

In [174]:
# Calculate the percentage of missing rows
total_rows = len(combined21_18)
missing_rows = combined21_18.isnull().any(axis=1).sum()
missing_percentage = (missing_rows / total_rows) * 100
print(f"Percentage of missing rows: {missing_percentage:.2f}%")

Percentage of missing rows: 100.00%

##  Handling Missing Values

In [175]:
# Fill missing values in the "Sector" column with the most common category
combined21_18["Sector"] = combined21_18["Sector"].fillna("Unknown").replace({"": "Unknown", "—": "Unknown"})
split_sector = combined21_18["Sector"].str.split(", ").explode()
most_common_sector = split_sector.value_counts().idxmax()
combined21_18["Sector"] = combined21_18["Sector"].apply(lambda x: most_common_sector if pd.isna(x) or (isinstance(x, str) and ',' not in x) else x)

In [176]:
# Fill missing values in the "Stage" column with "Unknown"
combined21_18["Stage"] = combined21_18["Stage"].fillna("Unknown").replace("", "Unknown")

In [177]:
# Replace non-numeric values in "Fund_Amount" with NaN
combined21_18["Fund_Amount"] = combined21_18["Fund_Amount"].replace(['Undisclosed', '$Undisclosed', '—', '-'], np.nan)

# Define exchange rates from INR to USD for each year
exchange_rates = {2018: 0.0146, 2019: 0.0142, 2020: 0.0135, 2021: 0.0135}

# Define the conversion function
def convert_currency(row):
    amount = row["Fund_Amount"]
    year = row["Funding_Year"]
    
    if pd.isna(amount):
        return np.nan
    amount = str(amount)
    
    if "₹" in amount:
        cleaned_amount = amount.replace("₹", "").replace(",", "")
        return float(cleaned_amount) * exchange_rates[year] if cleaned_amount.isdigit() else np.nan
    elif "$" in amount:
        cleaned_amount = amount.replace("$", "").replace(",", "")
        return float(cleaned_amount) if cleaned_amount.isdigit() else np.nan
    else:
        cleaned_amount = amount.replace(",", "")
        return float(cleaned_amount) if cleaned_amount.isdigit() else np.nan

# Apply the conversion function to the "Fund_Amount" column
combined21_18["Fund_Amount"] = combined21_18.apply(convert_currency, axis=1)

# Fill NaN values in the "Fund_Amount" column with the median
combined21_18["Fund_Amount"].fillna(combined21_18["Fund_Amount"].median(), inplace=True)

In [178]:
# Fill missing values in the "HeadQuarter" column with the most common category
most_common_headquarter = combined21_18["HeadQuarter"].mode()[0]
combined21_18["HeadQuarter"].fillna(most_common_headquarter, inplace=True)

## Export Cleaned Data

In [179]:
# Export cleaned data to a CSV file
combined21_18.to_csv("clean_data.csv", index=False)

# Exploratory Data Analysis (EDA)